@mixin transition {
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

@mixin hover {
    &:hover,
    &:focus {
        background: $hoverBgColor;
        color:$whiteColor;
    }
}

@mixin background($image:none, $size:cover) {
    background-image: url($image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size;
}

@mixin circle($size) {
    height: $size;
    width: $size;
    border-radius: 100%;
}

@mixin fullCover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}