$bodyFont: 'Open Sans',
sans-serif;
$bodyBgColor: #fff;
$bodyFontSize: 14px;
$bodyWeight: 400;

/** Paragraph Font Style **/

$font: 'Open Sans',
sans-serif;
$fontColor:#000;
$fontLightColor:#3a3a3a;
$lightFont:300;
$normalFont:400;
$mediunFont:600;
$blodFont:700;
$lightBlueColor:#4cc7ce;
$darkBlueColor:#188bab;
$whiteColor: #fff;

$hoverBgColor:#59e3ea;

/** Paragraph Font Style End **/


/** Header Style **/

$headerBgColor:#f7ffff;

/** Header Style End**/


/** Our Service Section **/

$OurServiceBgColor: rgba(2, 71, 90, 0.89);
$awayFromBgColor:#f0ffff;

/** Our Service Section End **/


/** Opening Section **/

$OpeningSectionBgColor:rgba(255, 255, 255, 0.94);

/** Opening Section End **/


/** Footer Section **/

$footerBgColor: #002c2f;
$footerLeftBgColor:rgba(5, 109, 116, 0.89);
$openingLocationBgColor:#f9f9f9;

/** Footer Section End**/