@import 'reset';
@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');
body {
    background: $bodyBgColor;
    font-family: $bodyFont;
    font-size: $bodyFontSize;
    font-weight: $bodyWeight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $bodyFont;
    font-weight: $bodyWeight;
}

header {
    display: block;
    background: $headerBgColor;
    padding: 10px 0;
}

header .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerAddress {
    background: $lightBlueColor;
    color: $whiteColor;
    padding: 12px 25px;
    position: relative;
    border-radius: 30px;
     ::before {
        content: "";
        position: relative;
        @include background('../images/location-pointer-img.png',
        100%);
        display: inline-block;
        margin-right: 8px;
        vertical-align: middle;
        width: 18px;
        height: 24px;
        top: -2px;
    }
    p {
        margin: 0;
        font-weight: $mediunFont;
        font-size: 18px;
        letter-spacing: 0.03em;
        color: $whiteColor;
    }
}

.preferred-providers-section {
    text-align: center;
    h6 {
        text-transform: uppercase;
        color: $fontColor;
        font-weight: $blodFont;
        font-size: 18px;
        letter-spacing: 0.03em;
        margin: 0 0 10px 0;
    }
}

.header-content {
    text-align: center;
    p {
        font-size: 26px;
        color: $fontColor;
        font-weight: $blodFont;
        margin-bottom: 20px;
        a {
            color: $fontColor;
        }
        a[href*="tel:"]::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -3px;
            @include background('../images/mobile-icon.png',
            100%);
            margin-right: 9px;
            width: 31px;
            height: 32px;
        }
        a:hover,
        a:focus {
            color: $lightBlueColor;
        }
    }
    .blue-btn {
        background: $lightBlueColor;
        padding: 0 22px 5px;
        line-height: 2;
        font-size: 22px;
        font-weight: $blodFont;
        color: $whiteColor;
        letter-spacing: 0.03em;
        border-radius: 30px;
        display: inline-block;
        @include hover;
    }
}

.banner {
    @include background;
    position: relative;
    padding: 40px 0;
    &::before {
        content: "";
        @include fullCover;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            position: relative;
            display: inline-block;
            color: $whiteColor;
            letter-spacing: 0.02em;
            font-size: 28px;
            min-height: 35px;
            margin-bottom: 20px;
            line-height: 1.6;
            padding-left: 55px;
            font-weight: $blodFont;
            &:last-child {
                margin-bottom: 0;
            }
        }
         ::before {
            content: "";
            position: absolute;
            left: 0;
            @include background('../images/tick-check-icon.png',
            100%);
            width: 37px;
            height: 35px;
            top: 4px;
        }
    }
    .appointment-form-cover {
        display: block;
        background: $darkBlueColor;
        padding-top: 20px;
        border-radius: 6px;
        margin-bottom: -110px;
        .appointment-form-heading {
            background: $lightBlueColor;
            padding: 20px 30px;
            text-align: center;
            width: calc(100% + 14px);
            margin-left: -7px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: -9px;
                left: 0;
                @include background('../images/black-triangle-left.png',
                100%);
                width: 7px;
                height: 9px;
            }
            &::after {
                content: '';
                position: absolute;
                top: -9px;
                right: 0;
                @include background('../images/black-triangle-right.png',
                100%);
                width: 7px;
                height: 9px;
            }
            h4 {
                color: $whiteColor;
                text-transform: uppercase;
                font-weight: $blodFont;
                letter-spacing: 0.01em;
                margin: 0;
                line-height: 1.5;
                font-size: 26px;
            }
        }
        .appointment-form-body {
            padding: 30px;
            .form-group {
                margin-bottom: 12px;
                display: block;
                .form-control {
                    width: 100%;
                    border: solid 1px transparent;
                    height: 47px;
                    padding: 2px 15px;
                    font-size: 15px;
                    color: $fontColor;
                    letter-spacing: 0.02em;
                    box-shadow: none;
                    border-radius: 6px;
                }
                textarea.form-control {
                    height: 90px;
                    resize: none;
                    padding-top: 10px;
                }
            }
        }
        .form-btn {
            background: $lightBlueColor;
            color: $whiteColor;
            text-transform: uppercase;
            font-weight: $mediunFont;
            font-size: 22px;
            letter-spacing: 0.01em;
            border: none;
            border-radius: 4px;
            min-width: 215px;
            line-height: 2.6;
            margin-top: 20px;
            cursor: pointer;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            @include hover
        }
    }
}

.section {
    padding: 50px 0;
}

.heading {
    display: block;
    h2 {
        font-size: 40px;
        font-weight: $mediunFont;
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }
    h4 {
        font-size: 24px;
        font-weight: $mediunFont;
        letter-spacing: 0.01em;
        color: $fontColor;
        text-transform: uppercase;
    }
    h2::after,
    h4::after {
        content: "";
        display: block;
        width: 75px;
        height: 3px;
        background: $lightBlueColor;
        margin: 15px 0 40px;
    }
}

.preferred-providers-area {
    padding: 45px 0;
    .owl-carousel .owl-item img {
        width: auto;
    }
}

.our-service-section {
    position: relative;
    @include background;
    &::before {
        content: "";
        @include fullCover;
        background: $OurServiceBgColor;
        z-index: 1;
    }
    .container {
        position: relative;
        z-index: 5;
    }
    .heading h2 {
        color: $whiteColor;
    }
    .our-service-list {
        display: block;
        .our-service-post {
            display: inline-block;
            width: 23%;
            margin-right: 1.8%;
            margin-bottom: 25px;
            vertical-align: top;
            background: $darkBlueColor;
            position: relative;
            text-align: center;
            padding: 20px 12px 18px;
            min-height: 140px;
            &::before {
                content: "";
                position: absolute;
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
                border: solid 1px $whiteColor;
                z-index: 1;
            }
            &:nth-child(4n) {
                margin-right: 0;
            }
            figure,
            strong {
                position: relative;
                z-index: 5;
            }
            figure {
                min-height: 50px;
                margin-bottom: 10px;
            }
            strong {
                font-size: 12px;
                line-height: 1;
                font-weight: $mediunFont;
                color: $whiteColor;
            }
        }
    }
    .away-from-section {
        display: block;
        padding-left: 20px;
        margin-top: 18px;
        .away-from-heading {
            background: $lightBlueColor;
            text-align: center;
            padding: 20px 65px;
            position: relative;
            &::before {
                content: "";
                width: 0;
                height: 0;
                border-left: 18px solid transparent;
                border-right: 18px solid transparent;
                border-top: 18px solid $lightBlueColor;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                margin: auto;
            }
            h4 {
                font-size: 32px;
                color: $whiteColor;
                font-weight: $blodFont;
                line-height: 1.3;
            }
        }
        .away-from-body {
            padding: 55px 0;
            background: $awayFromBgColor;
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                li {
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    background: #ebf9f9;
                    padding: 15px 15px;
                    padding-left: 55px;
                    font-size: 15px;
                    font-weight: $mediunFont;
                    color: $fontColor;
                    width: calc(44% + 24px);
                    margin-left: -11px;
                    box-shadow: 2px -3px 3px rgba(0, 0, 0, 0.09);
                    margin-bottom: 40px;
                    &:nth-child(2n) {
                        margin-left: 0;
                        margin-right: -11px;
                    }
                    &:last-of-type,
                    &:nth-last-of-type(2) {
                        margin-bottom: 0;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 15px;
                        top: 13px;
                        @include background('../images/tick-check-icon.png',
                        100%);
                        width: 28px;
                        height: 30px;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0px;
                        top: -13px;
                        @include background('../images/blue-triangle-left.png',
                        100%);
                        width: 11px;
                        height: 13px;
                    }
                    &:nth-child(2n):after {
                        content: "";
                        position: absolute;
                        left: auto;
                        right: 0px;
                        top: -13px;
                        background: url('../images/blue-triangle-right.png') no-repeat;
                        background-size: 100%;
                        background-position: 0 0;
                        width: 11px;
                        height: 13px;
                    }
                }
            }
        }
    }
}

.opening-section {
    @include background;
    position: relative;
    &::before {
        content: "";
        @include fullCover;
        background: $OpeningSectionBgColor;
        z-index: 1;
    }
    .container {
        position: relative;
        z-index: 5;
    }
    p {
        font-weight: $lightFont;
        font-size: 17px;
        color: $fontLightColor;
        line-height: 1.7;
    }
    .review-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        margin-bottom: 50px;
        .review-section-post {
            border-radius: 4px;
            padding: 40px;
            text-align: center;
            width: 48.5%;
            h4 {
                font-size: 30px;
                color: $whiteColor;
                font-weight: $blodFont;
                text-transform: uppercase;
                letter-spacing: 0.01em;
                margin-bottom: 5px;
            }
            ul {
                margin: 0 0 15px;
                padding: 0;
                li {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 13px;
                    color: $whiteColor;
                }
                li i.fa {
                    opacity: 0.7;
                }
                li.active i.fa {
                    opacity: 1;
                }
            }
            cite {
                font-size: 25px;
                color: $whiteColor;
                font-weight: $blodFont;
                font-style: normal;
                padding: 0 15px;
                line-height: 2;
                border-radius: 30px;
                .fa {
                    font-size: 22px;
                    margin-left: 2px;
                }
            }
        }
        .google-post {
            background: #ee1c1c;
            cite {
                background: $whiteColor;
                color: #ee1c1c;
            }
        }
        .facebook-post {
            background: #262262;
            cite {
                background: $whiteColor;
                color: #262262;
            }
        }
    }
}

.opening-hour-section {
    background: $whiteColor;
    padding: 20px 30px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    h4 {
        font-size: 32px;
        color: $fontColor;
        text-transform: uppercase;
        line-height: 1.4;
        font-weight: $blodFont;
        margin-bottom: 25px;
    }
    ul {
        margin: 0 0 40px;
        padding: 0;
        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            font-size: 15px;
            color: $fontColor;
            font-weight: $mediunFont;
            margin-bottom: 15px;
            position: relative;
            padding-left: 30px;
            span {
                font-weight: $mediunFont;
                text-transform: uppercase;
                width: 50%;
            }
            &::before {
                content: "";
                position: absolute;
                top: 2px;
                left: 0;
                background: url('../images/watch-icon.png') no-repeat;
                width: 20px;
                height: 20px;
            }
        }
    }
    .map-area {
        display: block;
        width: 100%;
        height: 180px;
        position: relative;
        margin-bottom: 30px;
        iframe {
            width: 100%;
            height: 100%;
            position: relative;
        }
    }
    .view-on-google-btn {
        display: block;
        width: 100%;
        line-height: 3.8;
        color: $whiteColor;
        font-size: 18px;
        text-transform: capitalize;
        padding: 0 15px;
        border-radius: 6px;
        background: $lightBlueColor;
        text-align: center;
        margin-bottom: -68px;
        @include hover;
    }
}

.meet-team-section {
    background: $whiteColor;
    .heading {
        h2 {
            text-align: center;
            &::after {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .meet-team-post {
        position: relative;
        text-align: center;
        figure {
            width: 100%;
            padding-bottom: 90%;
            @include background;
            margin-bottom: 20px;
            position: relative;
            overflow: hidden;
            &::before {
                content: "";
                @include fullCover;
                background: rgba(76, 199, 206, 0.71);
                opacity: 0;
                @include transition;
            }
            a {
                display: block;
                position: absolute;
                top: 100%;
                transform: translateY(0%);
                left: 0;
                right: 0;
                margin: auto;
                border: solid 2px $whiteColor;
                border-radius: 100%;
                @include circle(60px);
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    margin: auto;
                    background: $whiteColor;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include transition
                }
                &::before {
                    width: 24px;
                    height: 2px;
                }
                &::after {
                    height: 22px;
                    width: 2px;
                }
            }
        }
        h3 {
            font-weight: $mediunFont;
            font-size: 22px;
            letter-spacing: 0.02em;
            color: $fontColor;
            text-align: center;
            &::after {
                content: "";
                display: block;
                margin: 15px auto 20px;
                width: 45px;
                height: 3px;
                background: $lightBlueColor;
            }
        }
        p {
            font-weight: $lightFont;
            font-size: 16px;
            color: $fontLightColor;
            letter-spacing: 0.02em;
            line-height: 1.8;
        }
        &:hover figure::before {
            opacity: 1;
        }
        &:hover figure a {
            top: 50%;
            transform: translateY(-50%);
        }
        & figure a:hover {
            background: $whiteColor;
        }
        & figure a:hover::before,
        & figure a:hover::after {
            background: $lightBlueColor;
        }
    }
}

footer {
    position: relative;
    &::before {
        content: "";
        @include fullCover;
        background: $footerBgColor;
        z-index: 1;
    }
    .container {
        position: relative;
        z-index: 5;
    }
    .footer-contact {
        padding: 60px 0;
        padding-right: 40px;
        position: relative;
        z-index: 5;
        p {
            font-size: 33px;
            color: $whiteColor;
            font-weight: $mediunFont;
            margin-bottom: 30px;
            a {
                color: $whiteColor;
            }
            a[href*="tel:"]::before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                position: relative;
                top: -3px;
                @include background('../images/mobile-icon.png',
                100%);
                margin-right: 9px;
                width: 31px;
                height: 32px;
            }
            a:hover,
            a:focus {
                color: $lightBlueColor;
            }
        }
        .book-now-btn {
            background: $lightBlueColor;
            padding: 0 35px 5px;
            line-height: 2;
            font-size: 27px;
            font-weight: $mediunFont;
            color: $whiteColor;
            letter-spacing: 0.03em;
            border-radius: 6px;
            display: inline-block;
            @include hover
        }
    }
    .footer-left {
        position: absolute;
        top: 0;
        left: -1000px;
        right: 30px;
        bottom: 0;
        @include background;
        z-index: 1;
        &::before {
            content: "";
            @include fullCover;
            background: $footerLeftBgColor;
            z-index: 2;
        }
    }
    .footer-post {
        margin: 40px 0;
        display: inline-block;
        width: 48.7%;
        margin-right: 2%;
        vertical-align: top;
        border-top: solid 5px $lightBlueColor;
        text-align: center;
        &:last-child {
            margin-right: 0;
        }
        .footer-inner {
            margin-bottom: -25px;
            text-align: left;
        }
        iframe {
            width: 100%;
            display: block;
            height: 270px;
        }
        .view-btn {
            display: inline-block;
            line-height: 3;
            min-width: 210px;
            color: $whiteColor;
            font-size: 17px;
            text-transform: capitalize;
            padding: 0 15px;
            border-radius: 6px;
            background: $lightBlueColor;
            text-align: center;
            font-weight: $mediunFont;
            margin: 0px auto 0;
            img {
                vertical-align: middle;
                display: inline-block;
                margin-right: 10px;
            }
            @include hover
        }
    }
    .opening-hour-post {
        .footer-inner {
            background: $whiteColor;
            padding: 20px 25px 25px;
            min-height: 270px;
            h3 {
                font-size: 25px;
                color: $fontColor;
                text-transform: uppercase;
                letter-spacing: 0.01em;
                position: relative;
                font-weight: $blodFont;
                margin-bottom: 20px;
                &::before {
                    content: "";
                    position: relative;
                    @include background('../images/watch-icon.png',
                    100%);
                    display: inline-block;
                    margin-right: 8px;
                    vertical-align: middle;
                    width: 20px;
                    height: 20px;
                    top: -2px;
                }
            }
            .opening-location {
                background: $openingLocationBgColor;
                width: calc(100% + 50px);
                padding: 10px 25px;
                margin-left: -25px;
                p {
                    font-weight: $mediunFont;
                    color: $fontColor;
                    font-size: 20px;
                    letter-spacing: 0.01em;
                    &::before {
                        content: "";
                        position: relative;
                        @include background('../images/location-pointer-black.png',
                        100%);
                        display: inline-block;
                        margin-right: 8px;
                        vertical-align: middle;
                        width: 15px;
                        height: 20px;
                        top: -2px;
                    }
                }
            }
            ul {
                margin: 0;
                padding: 15px 0 0;
                li {
                    display: inline-block;
                    width: 100%;
                    font-weight: $lightFont;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $fontColor;
                    margin-bottom: 15px;
                    span {
                        display: inline-block;
                        width: 50%;
                        margin-right: -4px;
                        vertical-align: top;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    .copyright {
        position: absolute;
        bottom: 0;
        padding: 15px;
        padding-right: 50px;
        z-index: 5;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -10000px;
            right: 30px;
            height: 1px;
            background: rgba(255, 255, 255, 0.5);
        }
        p {
            color: $whiteColor;
            font-size: 15px;
            a {
                color: $whiteColor;
                &:hover,
                &:focus {
                    color: $lightBlueColor;
                }
            }
        }
    }
}